# Cloud Native Stack - Helm Umbrella Chart
apiVersion: v2
name: {{ .ChartName }}
description: {{ .Description }}
type: application
version: {{ .Version }}
appVersion: {{ .AppVersion }}

# Dependencies are deployed in the order listed below.
# Use `helm dependency update` to download sub-charts.
dependencies:
{{- range .Dependencies }}
  - name: {{ .Name }}
    version: {{ .Version }}
    repository: {{ .Repository }}
    condition: {{ .Condition }}
{{- end }}
